<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!-- Secciones adicionales si fueran necesarias -->
	</configSections>

	<connectionStrings>
		<!-- Cadena de conexión oficial del sistema -->
		<add
		  name="DB_Facturacion"
		  connectionString="Data Source=JUANSERIVADERO\SQLEXPRESS;Initial Catalog=DB_Facturacion;Integrated Security=True;TrustServerCertificate=True"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

</configuration>
