USE [DB_Facturacion]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 04/05/2026 21:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ClienteID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[CUIT_CUIL] [nvarchar](15) NOT NULL,
	[Domicilio] [nvarchar](50) NULL,
	[LocalidadID] [int] NULL,
	[CondicionIVAID] [int] NULL,
	[CondicionVentaID] [int] NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CondicionIVA]    Script Date: 04/05/2026 21:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CondicionIVA](
	[CondicionIVAID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CondicionIVAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CondicionVenta]    Script Date: 04/05/2026 21:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CondicionVenta](
	[CondicionVentaID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CondicionVentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleFactura]    Script Date: 04/05/2026 21:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFactura](
	[DetalleFacturaID] [int] IDENTITY(1,1) NOT NULL,
	[FacturaID] [int] NULL,
	[Codigo] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](100) NULL,
	[Cantidad] [int] NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetalleFacturaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 04/05/2026 21:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[EmpresaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[CUIT] [nvarchar](15) NOT NULL,
	[Domicilio] [nvarchar](50) NULL,
	[LocalidadID] [int] NULL,
	[CondicionIVAID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpresaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 04/05/2026 21:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[FacturaID] [int] IDENTITY(1,1) NOT NULL,
	[ClienteID] [int] NULL,
	[EmpresaID] [int] NULL,
	[Fecha] [datetime] NOT NULL,
	[TipoFactura] [char](1) NOT NULL,
	[CondicionVentaID] [int] NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
	[Iva] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[CAE] [varchar](20) NULL,
	[FechaVencimientoCAE] [datetime] NULL,
	[Observaciones] [varchar](200) NULL,
	[CondicionIVAID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FacturaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localidad]    Script Date: 04/05/2026 21:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidad](
	[LocalidadID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[ProvinciaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LocalidadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 04/05/2026 21:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[ProductoID] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 04/05/2026 21:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[ProvinciaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProvinciaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 04/05/2026 21:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Clave] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Rol] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([ClienteID], [Nombre], [CUIT_CUIL], [Domicilio], [LocalidadID], [CondicionIVAID], [CondicionVentaID], [Activo]) VALUES (5, N'Lionel Messi', N'20-12345678-9', N'Calle Libertad 101', 1, 1, 1, 1)
INSERT [dbo].[Cliente] ([ClienteID], [Nombre], [CUIT_CUIL], [Domicilio], [LocalidadID], [CondicionIVAID], [CondicionVentaID], [Activo]) VALUES (6, N'Cristiano Ronaldo', N'20-87654321-0', N'Av. Independencia 202', 2, 2, 2, 1)
INSERT [dbo].[Cliente] ([ClienteID], [Nombre], [CUIT_CUIL], [Domicilio], [LocalidadID], [CondicionIVAID], [CondicionVentaID], [Activo]) VALUES (7, N'Neymar Jr.', N'20-11223344-5', N'Calle 9 de Julio 303', 3, 1, 3, 1)
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[CondicionIVA] ON 

INSERT [dbo].[CondicionIVA] ([CondicionIVAID], [Descripcion]) VALUES (1, N'Responsable Inscripto')
INSERT [dbo].[CondicionIVA] ([CondicionIVAID], [Descripcion]) VALUES (2, N'Monotributista')
SET IDENTITY_INSERT [dbo].[CondicionIVA] OFF
GO
SET IDENTITY_INSERT [dbo].[CondicionVenta] ON 

INSERT [dbo].[CondicionVenta] ([CondicionVentaID], [Descripcion]) VALUES (1, N'Contado')
INSERT [dbo].[CondicionVenta] ([CondicionVentaID], [Descripcion]) VALUES (2, N'Tarjeta de crédito')
INSERT [dbo].[CondicionVenta] ([CondicionVentaID], [Descripcion]) VALUES (3, N'Transferencia bancaria')
SET IDENTITY_INSERT [dbo].[CondicionVenta] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleFactura] ON 

INSERT [dbo].[DetalleFactura] ([DetalleFacturaID], [FacturaID], [Codigo], [Descripcion], [Cantidad], [Subtotal]) VALUES (1, 16, N'2', N'Gas envasado de 12 kg', 4, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[DetalleFactura] ([DetalleFacturaID], [FacturaID], [Codigo], [Descripcion], [Cantidad], [Subtotal]) VALUES (2, 17, N'3', N'Gas envasado de 15 kg', 4, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[DetalleFactura] ([DetalleFacturaID], [FacturaID], [Codigo], [Descripcion], [Cantidad], [Subtotal]) VALUES (3, 18, N'4', N'Gas envasado de 20 kg', 5, CAST(0.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[DetalleFactura] OFF
GO
SET IDENTITY_INSERT [dbo].[Empresa] ON 

INSERT [dbo].[Empresa] ([EmpresaID], [Nombre], [CUIT], [Domicilio], [LocalidadID], [CondicionIVAID]) VALUES (1, N'Gas Envasado Rafaela SRL', N'30-12345678-9', N'Boulevard Hipólito Yrigoyen 2677', 1, 1)
SET IDENTITY_INSERT [dbo].[Empresa] OFF
GO
SET IDENTITY_INSERT [dbo].[Factura] ON 

INSERT [dbo].[Factura] ([FacturaID], [ClienteID], [EmpresaID], [Fecha], [TipoFactura], [CondicionVentaID], [SubTotal], [Iva], [Total], [CAE], [FechaVencimientoCAE], [Observaciones], [CondicionIVAID]) VALUES (8, 6, 1, CAST(N'2024-10-29T16:35:54.917' AS DateTime), N'B', 2, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'0025-000185021', CAST(N'2024-11-29T16:35:54.917' AS DateTime), N'', 1)
INSERT [dbo].[Factura] ([FacturaID], [ClienteID], [EmpresaID], [Fecha], [TipoFactura], [CondicionVentaID], [SubTotal], [Iva], [Total], [CAE], [FechaVencimientoCAE], [Observaciones], [CondicionIVAID]) VALUES (9, 5, 1, CAST(N'2024-10-29T16:45:06.040' AS DateTime), N'A', 1, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'0033-000623916', CAST(N'2024-11-29T16:45:06.053' AS DateTime), N'', 1)
INSERT [dbo].[Factura] ([FacturaID], [ClienteID], [EmpresaID], [Fecha], [TipoFactura], [CondicionVentaID], [SubTotal], [Iva], [Total], [CAE], [FechaVencimientoCAE], [Observaciones], [CondicionIVAID]) VALUES (10, 5, 1, CAST(N'2024-10-29T17:00:02.023' AS DateTime), N'A', 1, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'0033-000844536', CAST(N'2024-11-29T17:00:02.040' AS DateTime), N'', 1)
GO
SET IDENTITY_INSERT [dbo].[Factura] OFF
GO
SET IDENTITY_INSERT [dbo].[Localidad] ON 

INSERT [dbo].[Localidad] ([LocalidadID], [Nombre], [ProvinciaID]) VALUES (1, N'Rafaela', 1)
INSERT [dbo].[Localidad] ([LocalidadID], [Nombre], [ProvinciaID]) VALUES (2, N'Rosario', 1)
INSERT [dbo].[Localidad] ([LocalidadID], [Nombre], [ProvinciaID]) VALUES (3, N'La Plata', 2)
SET IDENTITY_INSERT [dbo].[Localidad] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([ProductoID], [Codigo], [Descripcion], [Precio]) VALUES (1, N'1', N'Gas envasado de 10 kg', CAST(3500.00 AS Decimal(18, 2)))
INSERT [dbo].[Producto] ([ProductoID], [Codigo], [Descripcion], [Precio]) VALUES (2, N'2', N'Gas envasado de 12 kg', CAST(3800.00 AS Decimal(18, 2)))
INSERT [dbo].[Producto] ([ProductoID], [Codigo], [Descripcion], [Precio]) VALUES (3, N'3', N'Gas envasado de 15 kg', CAST(4200.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Provincia] ON 

INSERT [dbo].[Provincia] ([ProvinciaID], [Nombre]) VALUES (1, N'Santa Fe')
INSERT [dbo].[Provincia] ([ProvinciaID], [Nombre]) VALUES (2, N'Buenos Aires')
INSERT [dbo].[Provincia] ([ProvinciaID], [Nombre]) VALUES (3, N'Córdoba')
SET IDENTITY_INSERT [dbo].[Provincia] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([UsuarioID], [Nombre], [Clave], [Email], [Rol]) VALUES (1, N'Juanse Rivadero', N'9', N'juanse@gmail.com', N'Vendedor')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD FOREIGN KEY([CondicionIVAID])
REFERENCES [dbo].[CondicionIVA] ([CondicionIVAID])
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD FOREIGN KEY([CondicionVentaID])
REFERENCES [dbo].[CondicionVenta] ([CondicionVentaID])
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD FOREIGN KEY([LocalidadID])
REFERENCES [dbo].[Localidad] ([LocalidadID])
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD FOREIGN KEY([FacturaID])
REFERENCES [dbo].[Factura] ([FacturaID])
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD FOREIGN KEY([CondicionIVAID])
REFERENCES [dbo].[CondicionIVA] ([CondicionIVAID])
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD FOREIGN KEY([LocalidadID])
REFERENCES [dbo].[Localidad] ([LocalidadID])
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Cliente] ([ClienteID])
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD FOREIGN KEY([CondicionVentaID])
REFERENCES [dbo].[CondicionVenta] ([CondicionVentaID])
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD FOREIGN KEY([CondicionIVAID])
REFERENCES [dbo].[CondicionIVA] ([CondicionIVAID])
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD FOREIGN KEY([EmpresaID])
REFERENCES [dbo].[Empresa] ([EmpresaID])
GO
ALTER TABLE [dbo].[Localidad]  WITH CHECK ADD FOREIGN KEY([ProvinciaID])
REFERENCES [dbo].[Provincia] ([ProvinciaID])
GO
